body {
    margin: 0px;
    color: black;
    background-image: url(https://wallpaperaccess.com/full/1567666.png);
    color: red;
    background-size:cover;
}
header {
    background-color: #ff5964;
    text-align: center;
    color: black;
    margin-top: 0px;
}
nav {
    animation: headerFade .6s forwards 0s ease-in-out;
    background-color: #ff5964;
    padding: 0%;
}
h1 {
    font-size: 25px;
}
li{
    padding-bottom: 0px;
    display: inline-block;
    margin: 0px 120px;
}
ul {
    list-style: none; 
}
a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: black;
    color: #fff;
  }
  h2 {
      display: flex;
      justify-content: space-between;
      padding: 80px ;
      flex-direction: column;
      color: red;
      align-items: center;
  }
  p {
      margin-left: 100px;
      color: red;
  }
  section h2 {
      display: flex;
      padding: 20px;
  }
  p a {
    color:red;
}
p a img {
    align-items: center;
    display: flex;
}
  .description {   
    margin-left: 100px;
    font-size: 24px;
    color: red; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}
.pictureOfMe{
    display:flex;
    max-width: 9%;
    margin: -150px 0px 0px 1500px;
}
.placeholderPhotos{
    max-width: 35%;
    padding: 5px;
    margin:125px;
    border: 1px solid red;
}
.pictureOfMe:hover{
    background-color: red;
}
.list-items{
    list-style: none;
    margin-left: 8px;
}
.contact {
    max-width: 200%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.projects {

}

.card {
    display:block;
    justify-content: space-between;
    margin: 35px;
    margin-left: auto;
    margin-right: auto;
}

  @keyframes headerFade {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes headerFade {
    0% {
        transform: translateY(-30%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }


